.qa {
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &-list {
    max-height: calc(100vh - 220px);
    overflow: auto;
  }
}

h2 {
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;
}

.empty-data {
  text-align: center;
}
