<form [formGroup]="form" (ngSubmit)="sendAnswer()" autocomplete="off">
  <mat-card class="qa-item" *ngIf="model">
    <mat-card-title>{{model.text}}</mat-card-title>
    <mat-card-subtitle>{{model.type | displayType}}</mat-card-subtitle>
    <mat-card-content>
      <mat-radio-group *ngIf="model.type === 0" formControlName="options" color="primary">
        <mat-radio-button [value]="option.id" *ngFor="let option of model.options">
          {{option.text}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-selection-list *ngIf="model.type === 1" formControlName="options" multiple>
        <mat-list-option checkboxPosition="before" [value]="option.id" *ngFor="let option of model.options">
          {{option.text}}
        </mat-list-option>
      </mat-selection-list>

      <mat-form-field *ngIf="model.type === 2" appearance="outline">
        <mat-label>Type Answer</mat-label>
        <textarea matInput placeholder="Type Answer" formControlName="text"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="form.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
